<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>汉桥教育管理系统</title>
	<link rel="stylesheet" href="/style/bootstrap.css">
	<link rel="stylesheet" href="/style/notie.css">
	<link rel="stylesheet" href="/style/login.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_503735_rdy6x85h0po.css">
	<link rel="icon" href="/images/汉桥后台.ico">
</head>
<body>
<!-- 背景区 -->
	<div class="bg">
		<div class="imgs"><img src="/images/bg.jpg" alt=""></div>
		<div><canvas id='stage'></canvas></div>
	</div>
<!-- 表单区 -->

	<div class="container body">
		<div class="row">
			<div class="col-md-4 col-md-offset-4" id='login'>
				<h1 class='text-center'>Login</h1>
				<form onsubmit="return false">
					<div class="form-group">
						<label>Username：</label>
						<span class='iconfont icon-shenfenxinxi'></span>
						<input type="text" class="form-control"  placeholder="Enter Name"  name='username' />
					</div>

					<div class="form-group">
						<label>Password：</label>
						<span class='iconfont icon-shenfenxinxi'></span>
						<input type="password" class="form-control" placeholder="Enter Password" name='password'/>
					</div>

					<div class="form-group">
						<div class="checkbox">
						<label><input type="checkbox" name='remember'>Remember me</label>
					</div>
					</div>
						<button class="btn btn-block btn-primary" id='submit'>Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script src="/js/polyfill.js"></script>
<script src="/js/notie.js"></script>
<script src="/js/fetch.js"></script>
<script src="/js/easeljs-0.8.1.min.js"></script>
<script src='/js/util.js'></script>
<script src='/js/login.js'></script>
<script src='/js/vivo.js'></script>
